header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2.3rem;
  background-color: transparent;
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

header.scrolled {
  background-color: var(--white);
  color: var(--black-2);
  box-shadow: var(--shadow-2);
}

header.scrolled .fa-bars {
  color: var(--black-2);
}

header .logo {
  font-family: var(--carter);
  font-size: var(--fs-2);
  line-height: 57px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

header nav ul li a {
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  line-height: 25.5px;
}

header .navbarIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

header .navbarIcons i {
  font-size: var(--fs-4);
  cursor: pointer;
}

header .fa-bars {
  font-size: var(--fs-3);
  cursor: pointer;
  display: none;
  color: var(--white);
}

.chakra-modal__header.css-9fgtzh {
  padding: 0;
  position: relative;
  z-index: 501;
}
.chakra-modal__header.css-9fgtzh .logoNclose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black-2);
  padding: 2.5rem 2rem;
  width: 100%;
  background-color: var(--gold);
}

.chakra-modal__header.css-9fgtzh .logoNclose a {
  font-family: var(--carter);
  font-size: var(--fs-2);
  line-height: 57px;
  font-weight: 500;
}

.chakra-modal__header.css-9fgtzh .logoNclose .cross {
  display: block;
  font-size: var(--fs-2);
  cursor: pointer;
}

.chakra-modal__body.css-79z5gx {
  padding: 0;
}

.chakra-modal__body.css-79z5gx .sidebarList {
  display: flex;
  padding: 2.5rem 2rem;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.chakra-modal__body.css-79z5gx .sidebarList li a {
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
}

.chakra-modal__body.css-79z5gx .sidebarList li a:hover {
  color: var(--gold);
}

@media (max-width: 992px) {
  header {
    padding-inline: 2rem;
  }
  header .fa-bars {
    display: block;
  }

  header nav {
    display: none;
  }

  header .navbarIcons .fa-user {
    display: none;
  }
}

@media (max-width: 450px) {
  header .navbarIcons {
    gap: 0.8rem;
  }
}
